streamlit
pandas
pickle-mixin
datetime
holidays
geopy
requests
folium
streamlit-folium
scikit-learn 
xgboost       
numpy
pytz
requests
category_encoders
openai
fuzzywuzzy
python-Levenshtein
SpeechRecognition
langchain-core
pydub      